body{
    background-image: url("https://img.freepik.com/premium-vector/illustration-of-cloudy-blue-sky_2963-27.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar-brand{
    transition: background-color 0.3s ease-in-out;
    border: 3px solid gray;
    border-radius: 8px;
    font-size: 20px;
    font-family: fantasy;
    padding: 8px;
    background-color: white;
}
.navbar-brand:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: cornflowerblue;
}
  .map a{
    text-decoration: none;
    opacity: 0;
    font-size: 17px;
    text-align: center;
  }
  .card_container{
    position: relative;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    width: 60%;
    float: right;
    animation: fadein 1.5s;
  }
  .card{
    transition: box-shadow ease 0.2s;
    margin: 10px;
    background-color:rgb(255, 250, 245);
  }
  .card:hover{
    transition: box-shadow ease 0.3s;
    box-shadow: 6px 6px 6px gray;
    cursor: default;
  }
  .map{
    position: fixed;
    top: 50%;
    transform: translate(0%,-50%);
    border: 8px solid rgb(63, 63, 63);
    width: 78vh;
    height: 60vh;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin: 10px;
  }
  .map_container{
    transition: background-color ease 0.3s;
    position:absolute;
    height: 6468.41px;
    width: 81vh;
    animation: fadein 1s;
    border-radius: 3px;
  }
  .map_container:hover{
    transition: background-color ease 0.3s;
    background-color: rgba(211, 211, 211, 0.7);
  }
  .btn-custom{
    color: blue;
    border: none;
}
.btn-custom:hover{
    background-color:cornflowerblue;
}
  #card_button{
    font-size: 14px;
    border-radius: 100%;
    height: 55px;
    width: 55px;
  }
  .circle{
    opacity: 0;
    position: absolute;
    border-radius: 100%;
    width: 4%;
    height: 5.4%;
    border: 2px solid orange;
    background-color: rgba(183, 183, 237, 80%);
  }
  .circle:hover{
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }

  #circle1{
    position: relative;
    top: 55.5%;
    left: 14.8%;
  }
  #circle2{
    position: relative;
    top: 50%;
    left: 16%;
  }
  #circle3{
    position: relative;
    top: 46.6%;
    left: 12.6%;
  }
  #circle4{
    position: relative;
    top: 44.5%;
    left: 6.5%;
  }
  #circle5{
    position: relative;
    top: 42.3%;
    left: -0.7%;
  }
  #circle6{
    top: 52.3%;
    left: 40.8%;
  }
  #circle7{
    top: 47.8%;
    left: 36.7%;
  }
  #circle8{
    top: 43.8%;
    left: 33.6%;
  }
  #circle9{
    top: 39.2%;
    left: 30.3%;
  }
  #circle10{
    top: 32.6%;
    left: 24.52%;
  }
  #circle11{
    top: 50.31%;
    left: 55.07%;
  }
  #circle13{
    top: 42.11%;
    left: 48.32%;
  }
  #circle14{
    top: 37.70%;
    left: 45.10%;
  }
  #circle15{
    top: 34.76%;
    left: 41.72%;
  }
  #circle16{
    top: 24.89%;
    left: 40.92%;
  }
  #circle17{
    top: 19.00%;
    left: 36.74%;
  }
  #circle19{
    top: 18.16%;
    left: 51.85%;
  }
  #circle20{
    top: 14.22%;
    left: 48.64%;
  }
  #circle21{
    top: 10.60%;
    left: 46.23%;
  }
  #circle23{
    top: 35.18%;
    left: 53.62%;
  }
  #circle24{
    top: 32.92%;
    left: 59.19%;
  }
  #circle25{
    top: 25.10%;
    left: 56.03%;
  }
  #circle26{
    top: 23.13%;
    left: 62.14%;
  }
  #circle27{
    top: 25.10%;
    left: 64.72%;
  }
  #circle28{
    top: 27.41%;
    left: 67.13%;
  }
  #circle29{
    top: 29.56%;
    left: 65.36%;
  }
  #circle30{
    top: 31.40%;
    left: 68.09%;
  }
  #circle31{
    top: 33.29%;
    left: 70.5%;
  }
  #circle32{
    top: 30.14%;
    left: 84.81%;
  }
  #circle33{
    top: 28.04%;
    left: 79.32%;
  }
  #circle34{
    top: 10.65%;
    left: 69.54%;
  }
  #circle35{
    top: 7.37%;
    left: 66.2%;
  }
  #circle36{
    top: 4.5%;
    left: 63.61%;
  }

  
  @media (max-width: 1310px){
    .map{
      display: none;
    }
    .map_container{
      display: none;
    }
    .card_container{
      width: 100%;
      justify-content: center;
    }
  }
  @media (max-height:723px){
    .map{
      display: none;
    }
    .map_container{
      display: none;
    }
    .card_container{
      width: 100%;
      justify-content: center;
    }
  }
  @keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}