
            * {
                margin: 0;
                padding: 0;
                box-sizing: content-box;
            }
            .dropdown-item{
                width: 158px;
            }

            body {
                background-color: rgba(107, 208, 255, 0.6);;
                height: 100vh;
            }
            .navbar-brand{
                transition: background-color 0.3s ease-in-out;
                border: 3px solid gray;
                border-radius: 8px;
                font-size: 20px;
                font-family: fantasy;
                padding: 8px;
                background-color: white;
            }
            .navbar-brand:hover{
                transition: background-color 0.3s ease-in-out;
                background-color: cornflowerblue;
            }

            .btn-custom {
                color: blue;
                border: none;
            }
            .btn-custom:hover {
                background-color: cornflowerblue;
            }

            .navbar-brand:hover {
                transition: background-color 0.3s ease-in-out;
                background-color: cornflowerblue;
            }
            .card_container{
                position: relative;
                width: 70%;
                left: 50%;
                transform: translate(-50%);
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                animation: fadein 1s;
                margin-top: 2px;
                padding-bottom: 15px;

                background-image: url("../img/산.jpg");
                background-repeat: repeat;
                background-size: cover;
                background-position: bottom center;
                background-attachment: fixed;

                border: 3px solid black;
                border-radius: 8px;
                
            }
            
            .card{
                transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                margin-top: 10px;
                width: 200px;
            }

            .card:hover{
                transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                box-shadow: 2px 2px 2px gray;
            }

            .write{
                display: flex;
                position: fixed;
                width: 100%;
                bottom: 0;
                justify-content: end;
            }

            .write button{
                font-family: fantasy;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
                left: 100%;
                border-radius: 10px;
                font-size: 15px;
                padding: 5px;
                background-color: rgba(75, 137, 0, 0.5);
                color: black;
                border: none;
            }

            .write button:hover{
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
                background-color: rgba(75, 137, 220, 1);
                color: white;
            }

            .page_number a{
                text-decoration: none;
                display: none;
            }

            #page_number{
                text-align: center;
                margin: 2px;
                font-weight: 800;
                text-decoration: none;
                background-color: gray;
                border-radius: 5px;
                border: 2px solid black;
                color: white;
                width: 3%;
                height: 10%;
            }
            #page_number_active{
                text-align: center;
                margin: 2px;
                font-weight: 800;
                text-decoration: none;
                background-color: greenyellow;
                border-radius: 5px;
                border: 2px solid black;
                color: white;
                width: 3%;
                height: 10%;
            }

            .dropdown-item{
                width: 158px !important;
            }

            .card-title{
                text-align: center;
            }

            #delete{
                transition: text-shadow 0.2s ease-in-out;
                float: right;
                text-decoration: none;
                color: red;
            }
            #delete:hover{
                transition: text-shadow 0.2s ease-in-out;
                text-shadow: 2px 2px 4px #000000;
            }

            .tip{
                background-color: rgba(0, 0, 0, 0.6);
                color: white;
            }

            @media (max-width: 875px) {
            .card {
                width: 100px;
                font-size: 12px;
            }
            .card-title{
                font-size: 16px;
            }

            .write{
                top: 90%;
                width: 99%;
                justify-content: end;
            }

            .card_container{
                width: 100%;
                border: none;
                margin: 0;
                border-radius: 0px;
            }

            .page_number_container{
                background-color: green !important;
            }

            #page_number{
                width: 25px;
                height: 25px;
            }

            #page_number_active{
                width: 25px;
                height: 25px;
            }


            }
            @keyframes fadein {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            @keyframes fadeout {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }